<div class="main-card">
	<div class="flex-row sm-flex-column">
		<div class="flex-10">
			<div class="center">
				<img class="profile-pic" src="/static/img/jeff-sweeney.jpg" alt="Jeff's Profile Picture">
			</div>
		</div>
		<div class="flex-80">
			<div class="intro">
				<h3>Hi, I'm Jeff.</h3>
				<div class="group">
					<p>I like clever puns, playing board games, and well-made Moscow Mules.</p>
				</div>

				<h3>My profession?</h3>
				<div class="group">
					<p>I'm a Software Engineer currently based out of San Francisco. I've worn many hats in my engineering career, from back-end to front-end, there and back again.</p>
				</div>

				<h3>My passion:</h3>
				<div class="group">
					<p>I love everything front-end development. From writing ES 2016 to selecting fonts, I enjoy writing code that people can see and interact with. I believe a good user experience is key to any product's success, and I take pride in making rich interactive applications.</p>
				</div>
			</div>
			<div class="mid-link">
				<a ui-sref="app.resume" class="resume-link">Check out my Resume</a>
			</div>
		</div>
	</div>
	
</div>