<div class="main-card">
	<div class="flex-row sm-flex-column">
		<div class="flex-10">
			<div class="center">
				
			</div>
		</div>
		<div class="flex-80">
			<div class="intro">
				<h3>Work Experience</h3>
				<div class="group">
					<h4>Cloud Infrastructure Engineering Developer &mdash; eBay (January 2014-present)</h4>
					<p><small>
						From D3.js to Docker, I have worked across the engineering spectrum in eBay's Cloud Infrastructure and Platform Services organization. I am currently working on eBay's Kubernetes implementation, adapting the open source <a href="https://github.com/kubernetes/dashboard">Kubernetes Dashboard</a> to suit eBay's infrastructure needs. 
						</small>
					</p>
				</div>

				<div class="group">
					<h4>Cloud Engineering Intern &mdash; eBay (June 2013 - September 2013)</h4>
					<p><small>
						I developed and supported several features for an internal monitoring tool for eBay's OpenStack Cloud.
						</small>
					</p>
				</div>

				<div class="group">
					<h4>Operations IaaS Intern &mdash; eBay (June 2012 - September 2012)</h4>
					<p><small>
						I developed features for an internal VM Provisioning &amp; Remediation tool.
						</small>
					</p>
				</div>

				<h3>Skills</h3>
				<div class="group">
					<h4>Javascript &mdash; Expert</h4>
					<p><small>I have extensive experience in AngularJS</small></p>
				</div>

			</div>
		</div>
	</div>
	
</div>