$bg: #fff;
$fontname: 'Oxygen';
$red: #9F3737;
$blue: #4070AA;
$black: #231F1F;
$text: #5F646C;
$grey: #ccc;

@import 'common';
@import 'fonts';

@mixin gradient-bg() {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefffb+0,f8f8ee+100 */
	background: rgb(254,255,251); /* Old browsers */
	background: -moz-linear-gradient(45deg,  rgba(254,255,251,1) 0%, rgba(248,248,238,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  rgba(254,255,251,1) 0%,rgba(248,248,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  rgba(254,255,251,1) 0%,rgba(248,248,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefffb', endColorstr='#f8f8ee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
@mixin subtle-shadow() {
	-webkit-box-shadow: 0px 1px 1px 0px rgba(178, 178, 178, 0.75);
	-moz-box-shadow:    0px 1px 1px 0px rgba(178, 178, 178, 0.75);
	box-shadow:         0px 1px 1px 0px rgba(178, 178, 178, 0.75);
}

body {
	background: url("/static/img/pattern.png");

	color: $text;
	font-family: $fontname, '-apple-system', sans-serif;
	
	padding: 180px 7.5%;
	height: unset;
}

nav {
	position: fixed;
	top: -5px;
	left: 0;
	width: 100%;
	background-color: $bg;
	
	@include subtle-shadow();

	.nav-inner {
		padding: 20px 7.5%;
	}
}

h1 {
	font-size: 32pt;
	font-weight: bolder;
	margin-bottom: 16px;
}

a {
	color: $red;
}

h2 {
	font-size: 14pt;
	color: $blue;
}

h4 {
	display: block;
	margin-top: 24px;
	margin-bottom: 12px;
	font-weight: bolder;
}

footer {
	position: fixed;
	bottom: 0px;
	left: 0;
	height: 60px;
	width: 100%;
	background: transparent;

	.footer-content {
		background-color: $bg;
		height: 100%;
		padding-top: 6px;

		.contact-icons {
			text-align: center;
			a {
				margin-right: 48px;
				text-align: center;
				font-size: 40px;
				color: $blue;
			}
			a:last-of-type {
				margin-right: 0;
			}
		}

		
	}
}

small {
	font-size: smaller;
}

.profile-pic {
	border-radius: 50%;
	width: 120px;
}

.main-card {
	@include subtle-shadow();

	margin-left: 12%;
	margin-right: 12%;
	padding: 20px;

	background-color: $bg;

	> * {
		display: block;
	}

	.mid-link {
		text-align: center;
		margin-bottom: 40px;

		.resume-link {
			border: 2px solid $red;
			border-radius: 4px;
			padding: 6px 8px;
			cursor: pointer;
		}
	}
}

.intro {
	padding: 20px 10px;

	.group {
		margin-top: 12px;
		margin-bottom: 24px;

		p {
			line-height: 18px;
		}
	}

	h3 {
		color: $blue;
		font-weight: 700;
		font-size: larger;
	}
}

.divider {
	border-bottom: 1px solid $grey;
	margin-bottom: 28px;
}

@media(max-width: 720px) {
	h1 {
		font-size: 32px;
	}
	.intro {
		font-size: smaller;
	}

	.main-card {
		margin-left: 2.5%;
		margin-right: 2.5%;
	}

}