<div class="main-card">
	<div class="flex-row sm-flex-column">
		<div class="flex-10">
			<div class="center">
			</div>
		</div>
		<div class="flex-80">
			<div class="pull-right"><a href="/static/doc/jeffsweeneyresume.pdf">Download PDF</a></div>
			<div class="intro">
				<h3>Work Experience</h3>
				<div class="group">
					<h4>Software Engineering (Frontend) - Cloud Engineering &mdash; eBay (January 2014-present)</h4>
					<p><small>
						From D3.js to Docker, I have worked across the engineering spectrum in eBay's Cloud Infrastructure and Platform Services organization. I am currently working on eBay's Kubernetes implementation, adapting the open source <a href="https://github.com/kubernetes/dashboard">Kubernetes Dashboard</a> to suit eBay's infrastructure needs. 
						</small>
					</p>
				</div>

				<div class="group">
					<h4>Cloud Engineering Intern &mdash; eBay (June 2013 - September 2013)</h4>
					<p><small>
						I developed and supported several features for an internal monitoring tool for eBay's OpenStack Cloud.
						</small>
					</p>
				</div>

				<div class="group">
					<h4>Operations IaaS Intern &mdash; eBay (June 2012 - September 2012)</h4>
					<p><small>
						I developed features for an internal VM Provisioning &amp; Remediation tool.
						</small>
					</p>
				</div>

				<div class="divider"></div>

				<h3>Skills</h3>
				<div class="group">
					<h4>Javascript &amp; ES 6/7</h4>
					<p><small>On the web side, I have extensive experience with AngularJS 1.x and D3 3.x. As for the backend, I have written several small projects in NodeJS, using Express 4 for writing web services.</small></p>
				</div>
				<div class="group">
					<h4>Sass &amp; CSS</h4>
					<p><small>I write rich, reusable web components with Sass. I am comfortable working in any design language, and I love to experiment. I have designed components for seamless visual integration with Material Design, Metro, and vanilla Bootstrap.</small></p>
				</div>
				<div class="group">
					<h4>Modern Web Development Toolchain</h4>
					<p><small>I work with npm and bower to manage project dependencies, and write build tasks using Gulp. View <a href="https://github.com/codegoblins/www">the source</a> of this site to check out some example project setup code, or fork <a href="https://github.com/codegoblins/modern-web-project">my base repo</a> if you want to easily reuse this setup.</small></p>
				</div>
				<div class="group">
					<h4>Containerization &amp; Docker</h4>
					<p><small>I have extensive experience containerizing applications for running on a Kubernetes deployment. I am comfortable deploying a service from start to finish on any docker setup.</small></p>
				</div>
				<div class="group">
					<h4>Unix Environments</h4>
					<p><small>I work just fine with a shell (preferably zsh), and I can apt-get, curl, and pipe like a pro.</small></p>
				</div>
				<div class="group">
					<h4>General Software Development</h4>
					<p><small>I was classically trained with Java and C, and I have worked with some Golang in my time in Kubernetes-land.</small></p>
				</div>
				
				<div class="divider"></div>
				
				<h3>Education</h3>
				<div class="group">
					<h4>University of California Santa Cruz</h4>
					<p>Computer Science (Graduated, Bachelor's Degree)</p>
					<p><small>Sep 2010 - Dec 2013</small></p>
				</div>

				<div class="divider"></div>

				<h3>Outside Projects</h3>
				<div class="group">
					<h4>Code Names App (<a href="https://github.com/codegoblins/code-games">Github</a>)</h4>
					 I built my favorite board game as a mobile friendly web application to play on the go. The idea was to be able to play while I was at the PAX expo hall, where there is usually little to no cell service. I designed the app to run on two phones, with no backend needed for multiplayer. I have hosted the game on my other website, <a href="http://codegoblins.com">codegoblins.com</a>. Check out my sweet solution for encoding the board!
					 <em>Tools used: AngularJS, Angular UI, Sass, Gulp, Bower</em>
				</div>
				<div class="group">
					<h4>Web Project Starter Code (<a href="https://github.com/codegoblins/modern-web-project">Github</a>)</h4>
					A collection of frameworks I have been using recently for starting web projects. Includes Gulp tasks for building Sass & ES2015 code, as well as watching the source files for automatic browser reloading with Browsersync. 
					<em>Tools used: AngularJS, Angular UI, Sass, Gulp, Bower, Browsersync</em>
				</div>
			</div>
		</div>
	</div>
	
</div>